.profilepic {
    width: 260px;
    height: 260px;
    background-image: url("../img/star.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    margin:0px;
}

.col-md-4 {
    height: 260px;
    width: 260px!important;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: absolute;
    float: left;
}

.col-md-8 {
    height: 260px;
    width: 500px;
    margin: 0px;
    margin-left: 5px;
    position: absolute;
    display: inline-block;
}

.col-md-12 {
    width: 500px;
}

h6 {
    width: 80px;
    color: #fff;
}

h3 {
    color: #fff;
}

body {
    background: url("../img/bg.png")
}

li {
    color: #fff;
}

#desc {
    color: #fff;
}

#supbar {
    height: 80px;
    width: 100%!important;
    background-color: black;
    border-bottom: 2px solid gray;
    padding-right: 170px;
    margin: 0 none;
}

#supbar ul li:hover{
    height: 72px;
    border-bottom: 2px solid aqua;
}

#navbar {
    height: 70px;
    width: 100%;
    float: left;
    padding: none;
}

#navbar ul li {
    display: inline-block;
    margin-right:30px;
    height: 80px;
    padding-top: 19px;
}


#navbar li button:hover {
    color: aqua;
}

.mt-4 {
    position: relative;
}

#supbar button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    /*border is optional*/
    cursor: pointer;
}